<article class="article">
  <time class="article__date"><%= article.date.strftime("%b %e, %Y") %></time>
  <h2 class="article__title"><%= article.title %></h2>
  <hr class="filigree">
  <%= article.body %>
  <span class="article__dagger">◆</span>
</article>
