<div class="write">
  <div class="left">
    <p>**At Oasis Liquor in Abilene**, the gregarious, suspicious man renting us the margarita machine pointed to some switches on the side to explain how it worked. "Start off on the snowflake hieroglyph. If it starts getting too cold (and you'll know when it gets too cold), you turn the switch to the water droplet hieroglyph." Later that evening, I pedaled in a paddle boat next to Terrell the taciturn policeman who made consistantly funny utterances under his breath at the expense of his girlfriend, my aunt, who sat between us. After that, I sat on a riding lawnmower and ate pineapple off a paper plate.</p>
  </div>
  <div class="right">
    <img src="http://placehold.it/300x200">
  </div>
</div>
