---
title: Listen to Me, I Have Something to Tell You
date: 2014-07-04
---

p
  strong At Oasis Liquor in Abilene
  | the gregarious, suspicious man renting us the margarita machine pointed to some switches on the side to explain how it worked. "Start off on the snowflake hieroglyph. If it starts getting too cold (and you'll know when it gets too cold), you turn the switch to the water droplet hieroglyph." Later that evening, I pedaled in a paddle boat next to Terrell the taciturn policeman who made consistantly funny utterances under his breath at the expense of his girlfriend, my aunt, who sat between us. After that, I sat on a riding lawnmower and ate pineapple off a paper plate.

= image_tag "http://placehold.it/300x200", class: "image--sm pull-right"

p
  On the way to Cherrywood, I came across a craft fair at an autumnal Presbyterian church built from [horizontal slabs of stone] . An elderly women in a [macrame] denim vest cooed sweet greetings to me as I entered, her eyes visible between the displays of bedazzled salad spoons and plastic jewelry. She showed me the bounty of the refreshment table, covered in [pumpkin rolls], lemon squares, monkey bread, and styrofoam cup coffee. A genteel big-haired woman from Lago Vista [woo’d] me to her table with [rich] descriptions of her scented candles. She explained she was more of a musk lady than a floral one. Couldn’t stand the scent of Jasmine. I liked Rocky Mountain Christmas and told her so.

= image_tag "look/craft-show.jpg", class: "image--sm pull-right"
