---
title: Tending to the Compost Heap
date: 2015-11-21
---

**Well I woke up early** and the dog through the backyard window was chewing on a hackberry branch. I lay prostrate in bed, farting quietly into the sleeping bag and watching spiders float in transverse waves over the compost pile when I found myself plodding down a road of unhappy thinking. So I rose, shampoo’d, and chased Henry throughout the great backyard with a bowl of apple'n'oatmeal in my hand. Henry reared on his hind legs and swung a branch in his mouth around like a quarterstaff, appearing at the same time like a horse and its rider.

<%= figure("craft-show.jpg", "figure--left") %>

On the way to Cherrywood, a plastic yard sign pointed towards a craft fair held at the autumnal Presbyterian church, set in ledgestone, just over there, at the top of a grassy slope. I approached. Upon entry, a silvery old woman in an applique vest cooed sweet greetings to me, her eyes just visible between a display of plastic wreaths. I approached. She pointed out some of her wares: salad spoons and soaps coddled in linen drawstring bags. She gestured grandly towards a folding table on the far side of the room, creaking under the bounty of a hundred denim-clad church lady&ndash;hours: hard cookies, monkey bread, pumpkin rolls, styrofoam coffee, blintzes, puffs, and wheels. I approached. A genteel big-haired woman from Lago Vista woo’d me to her table with ornate descriptions of her scented candles. She explained she was more of a musk lady than a floral one. Couldn’t stand the scent of Jasmine. I liked Rocky Mountain Christmas and told her so. Handed her some money. Went on my way.

Here are the names of all the available WiFi networks as I sit here at this peeling picnic table:

<ul class="list--pretty">
  <li>belkin.2.4</li>
  <li>All Hail Our Dark Father Satan</li>
  <li>Leia is LITERALLY Hitler</li>
  <li>Rock Hard Vagina</li>
  <li>that’s rich</li>
  <li>So Fresh So Clean</li>
  <li>Netgear78</li>
  <li>Netgear46</li>
  <li>veronicas equinox</li>
  <li>Sopping Wet Balls</li>
  <li>TWCWiFi</li>
  <li>thatsacuteweiner</li>
</ul>
