- blog.articles[0...1].each do |article|
  = link_to "Diaryland", "/", class: "go-home"
  = partial "partials/article", :locals => { :article => article }
  = partial "partials/nav", :locals => { :article => article }
