// ============================================================================
// Article
// ============================================================================

.article {
  @include outer-container();
  padding-top: $spacer * 2;

  @include media($screen-sm-up) {
    text-align: justify;
  }
}

.article__date {
  @extend %uppercase;
  display: block;
  font-size: $font-size-sm;
  text-align: center;
}

.article__title {
  text-align: center;
  margin: 0;
}

.article__dagger {
  color: $red;
  display: block;
  font-family: monospace;
  text-align: center;
}

// All Articles
// ----------------------------------------------------------------------------

body.all {
  background: $olive;
}

.more-logo {
  margin: $spacer auto;
}

.more-list {
  li:before {
    content: "◆";
    color: $red;
    display: inline-block;
    padding-right: 1rem;
    font-family: monospace;
    font-style: normal;
  }

  a {
    @include link-color($pale-blue, $red);
    display: inline-block;
    font-style: italic;
    line-height: $spacer;
  }

  time {
    @extend %uppercase;
    display: inline-table;
    font-size: $font-size-sm;
    font-style: normal;
    margin-right: 0.5rem;
  }
}

@include media($screen-md-up) {
  .more-list {
    text-align: center;

    li {
      display: inline-table;
    }

    li:before {
      padding-left: 1rem;
    }
  }
}

@include media($screen-md-down) {
  .more-list {
    display: table;

    li {
      display: table-row;
    }

    a,
    li:before {
      display: table-cell;
    }
  }
}
