// ============================================================================
// Article
// ============================================================================

.article {
  @include outer-container;
  padding-top: $spacer * 2;
}

.article__date {
  @extend %uppercase;
  display: block;
  font-size: $font-size-sm;
  text-align: center;
}

.article__title {
  text-align: center;
  margin: 0;
}

.article__dagger {
  color: $red;
  display: block;
  font-family: monospace;
  text-align: center;
}

body.all {
  background: $olive;
}

.more-list {
  @extend %uppercase;
  font-size: $font-size-sm;
  margin: 0 auto;
  text-align: center;

  li {
    display: inline-block;

    + li {
      &:before {
        content: "◆";
        color: $red;
        display: inline-block;
        margin: 0 1rem;
        font-family: monospace;
        font-style: normal;
      }
    }
  }

  a {
    @include link-color($pale-blue, $red);
  }

  strong {
    display: inline-block;
    font-style: normal;
    margin-right: 0.5rem;
  }
}
