// ============================================================================
// Filigree
// ============================================================================

.filigree {
  background-color: $text-color;
  border: none;
  display: block;
  height: $border-width-xl;
  margin: ($spacer * 2) auto;
  max-width: 8rem;
  padding: 0;
}
