// ============================================================================
// Nav
// ============================================================================

.go-home {
  display: table;
  margin: 0 auto;
  padding: 1rem;
}

.nav {
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

.nav__item {
  display: table-cell;
  font-family: $font-family-mono;
  font-size: $font-size-sm;
  line-height: $spacer * 2;

  + .nav__item {
    margin-left: 1rem;
  }
}

.nav__item--disabled {
  cursor: default;
  opacity: 0.25;
}

.nav__item--prev,
.nav__item--next {
  @extend %uppercase;
  color: $black;
}

.nav__item--arrow {
  font-size: $font-size-lg;
  font-family: $font-family-sans;
  line-height: 1;
}

.nav__item--prev {
  text-align: right;
}

.nav__item--next {
  text-align: left;
}
