// ============================================================================
// Diary Page
// ============================================================================

.diary {
  @include outer-container;
}

.page {
}

.page__date {
  @extend %uppercase;
  display: block;
  font-size: $font-size-sm;
  text-align: center;
}

.page__title {
  text-align: center;
  margin: 0;
}

.diary-nav {
  text-align: center;
}

.diary-nav__arrow {
  @include link-color($black, tomato);
  display: inline-table;
  font-size: $font-size-lg;

  + .diary-nav__arrow {
    margin-left: 1rem;
  }
}

.write__images {
  img {
    display: block;
    height: auto;
    max-width: 300px;
    width: 100%;
  }
}
@include media($screen-md-up) {
  .write {
    @include clearfix;
  }

  .write__text {
    @include span-columns(8);
  }

  .write__images {
    @include span-columns(3);
    @include shift(1);
  }
}

@include media($screen-md-down) {
  .write__images {

    img {
      margin: 0 auto $spacer;
    }
  }
}
